:root {
  --color-primary: #767676;
  --color-secondary: #147efb;
  --color-tertiary: #f9f9f9;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  position: fixed;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 3rem;
  height: auto;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.header__title {
  font-size: 1.5rem;
}

.header__nav {
  display: flex;
  column-gap: 1rem;
  list-style: none;
}

.header__nav-item {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: var(--color-tertiary);
  width: 100%;
  height: 100vh;
}

.hero__container,
.about__container,
.portfolio__container,
.contact__container,
.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 65rem;
  padding: 0 2rem;
}

.hero__content {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  height: 40rem;
  position: relative;
}

.hero__main {
  display: flex;
  gap: 9rem;
}

.hero__text {
  max-width: 32rem;
}

.hero__title {
  font-size: 3rem;
  margin-block: 2rem;
}

.hero__intro,
.about__text,
.portfolio__description,
.contact__details {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.hero__icons {
  display: flex;
  gap: 1rem;
  margin-block: 2rem;
}

.hero__in-icon,
.hero__github-icon {
  color: #2d2e32;
  height: 1.9rem;
  cursor: pointer;
}

.hero__skills {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero__skills-text {
  font-size: 1.2rem;
  border-right: 2px solid var(--color-primary);
  padding-right: 1rem;
  margin-right: 3rem;
}

.hero__logos-list {
  display: flex;
  gap: 2rem;
}

.hero__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 4rem;
  width: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
}

.hero__logo-img {
  height: auto;
  width: 2.5rem;
}

.header__nav-item:hover,
.hero__in-icon:hover,
.hero__github-icon:hover,
.portfolio__github-link:hover,
.portfolio__demo-link:hover {
  color: var(--color-secondary);
}

.hero__img {
  height: 20rem;
  width: 20rem;
  background-image: url(images/portrait-photo-2379004.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 100%;
}

.about__content {
  display: flex;
  gap: 5rem;
}

.about__img-side {
  height: 300px;
}

.about__img {
  height: 100%;
}

.about__heading,
.porfolio__heading,
.contact__heading {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: 0.7rem;
}

.about__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  padding: 10rem 0;
  width: 100%;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
}

.portfolio__grid {
  display: grid;
  grid-template: auto auto / 1fr;
  gap: 2.5rem;
  height: auto;
  width: 100%;
}

.portfolio__project {
  display: flex;
  gap: 4rem;
  height: 25rem;
  padding: 1.2rem;
  border-radius: 1.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.portfolio__img-container {
  width: 455px;
  height: auto;
  border-radius: 1.1rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio__img {
  width: 100%;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}
.portfolio__img:hover {
  width: 100%;
  transform: translateY(-85%);
  transition: transform 10s ease-in-out 0s;
}

.portfolio__text {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: auto;
  justify-content: center;
  text-align: center;
}

.portfolio__description {
  margin-bottom: 2rem;
}

.portfolio__title {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.portfolio__stack {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.portfolio__tech {
  padding: 0.6rem 0.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

.portfolio__github-link,
.portfolio__demo-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  color: #2d2e32;
}

.portfolio__github-icon {
  font-size: 1.6rem;
}

.portfolio__arrow-icon {
  font-size: 1.2rem;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 7rem 0;
  width: 100%;
}

.contact__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__title {
  font-size: 1.5rem;
  margin: 1.3rem 0 4rem 0;
}

.contact__icons {
  display: flex;
  gap: 5rem;
}

.contact__icon-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  padding: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact__email-icon {
  color: var(--color-secondary);
  font-size: 1.7rem;
}

.contact__phone-icon {
  color: var(--color-secondary);
  font-size: 1.8rem;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: #2d2e32;
  width: 100%;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__c {
  color: #fff;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer__in-icon {
  color: #fff;
  height: 1.4rem;
  transition: 0.1s;
}

.footer__github-icon {
  color: #fff;
  height: 1.5rem;
  transition: 0.1s;
}

.footer__in-icon:hover,
.footer__github-icon:hover {
  transform: scale(1.1);
}
