@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #767676;
  --color-secondary: #147efb;
  --color-tertiary: #f9f9f9;
  --color-quaternary: #fff;
  --color-base: #2d2e32;
}

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h4,
h3 {
  font-weight: 600;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  position: fixed;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 2.5rem;
  height: auto;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background-color: var(--color-quaternary);
}

.header__title-link {
  text-decoration: none;
  color: var(--color-base);
}

.header__title {
  font-size: 1.3rem;
  white-space: nowrap;
  font-weight: 600;
}

.header__nav {
  display: flex;
  column-gap: 1rem;
  list-style: none;
  user-select: none;
}

.header__nav-item {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-base);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.header__mobile-menu {
  display: none;
}

.header__hamburger {
  cursor: pointer;
}

.header__hamburger-icon {
  height: 1.3rem;
  color: var(--color-base);
}

.header__hamburger-icon:hover {
  color: var(--color-secondary);
}

.header__mobile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
}

.header__mobile-nav-exit {
  color: var(--color-quaternary);
  position: absolute;
  top: 1.3rem;
  right: 2.5rem;
  user-select: none;
  cursor: pointer;
}

.header__mobile-nav-exit:hover {
  color: var(--color-secondary);
}

.header__mobile-nav--active {
  transform: translateX(0%);
}

.header__mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__mobile-nav-item {
  margin: 1rem;
  list-style: none;
}

.header__mobile-nav-link {
  color: var(--color-quaternary);
  text-decoration: none;
  user-select: none;
}

.header__mobile-nav-link:hover {
  color: var(--color-secondary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: var(--color-tertiary);
  width: 100%;
  height: 100vh;
  padding: 7rem 0;
}

.hero__container,
.about__container,
.portfolio__container,
.contact__container,
.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 65rem;
  padding: 0 2.5rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 1.7rem;
}

.hero__main {
  display: flex;
  gap: 9rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
  transition: all 0.5s ease-in-out;
}

.hero__text {
  max-width: 32rem;
}

.hero__title {
  font-size: 3rem;
  margin-block: 2rem;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
}

.hero__intro,
.about__text,
.portfolio__description,
.contact__details {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.hero__icons {
  display: flex;
  gap: 1rem;
  margin-block: 2rem;
}

.hero__in-icon,
.hero__github-icon {
  color: #2d2e32;
  height: 1.9rem;
  cursor: pointer;
}

.hero__skills {
  display: flex;
  align-items: center;
}

.hero__skills-text {
  font-size: 1.2rem;
  border-right: 2px solid var(--color-primary);
  padding-right: 1rem;
  margin-right: 3rem;
  white-space: nowrap;
}

.hero__logos {
  display: flex;
}

.hero__logos-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 3.7rem;
  width: 3.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  background-color: var(--color-quaternary);
}

.hero__logo-img {
  height: auto;
  width: 2rem;
}

.hero__logo-typescript {
  width: 2.5rem;
}

.hero__logo-php {
  width: 2.9rem;
}

.hero__logo-bootstrap {
  width: 2.5rem;
}

.hero__logo-react {
  width: 2.5rem;
}

.hero__logo-redux {
  width: 2rem;
}

.hero__logo-tailwind {
  width: 2.2rem;
}

.header__nav-item:hover,
.hero__in-icon:hover,
.hero__github-icon:hover,
.portfolio__github-link:hover,
.portfolio__demo-link:hover {
  color: var(--color-secondary);
}

.hero__img {
  transition: all 1s ease-in-out;
  height: 19rem;
  width: 19rem;
  flex-shrink: 0;
  background-image: url(images/portfolio_photo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.1rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
  width: 100%;
}

.about__content {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.about__side-img {
  max-width: 420px;
  flex-shrink: 0;
}

.about__img {
  width: 100%;
  border-radius: 1.1rem;
}

.about__heading,
.portfolio__heading,
.contact__heading {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: 0.7rem;
}

.about__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.about__text-para {
  padding-bottom: 1rem;
}

.about__text-link {
  color: var(--color-base);
  font-weight: 600;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  padding: 7rem 0;
  width: 100%;
}

.portfolio__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.portfolio__grid {
  gap: 2.5rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__project {
  display: flex;
  gap: 2.5rem;
  padding: 2rem;
  border-radius: 1.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-quaternary);
}

.portfolio__in-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.portfolio__in-progress-text {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--color-quaternary);
}

.portfolio__img-container {
  position: relative;
  max-width: 31rem;
  max-height: 24rem;
  border-radius: 1.1rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio__img {
  width: 100%;
  transition: all 0.13s ease-in-out;
}

.portfolio__img:hover {
  transform: scale(1.01);
}

.portfolio__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
  max-width: 23rem;
}

.portfolio__description {
  margin-bottom: 1.5rem;
}

.portfolio__project-title {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.portfolio__project-title-span {
  text-transform: none;
}

.portfolio__stack {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
}

.portfolio__tech {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
}

.portfolio__tech-img {
  height: 1.7rem;
  width: auto;
}

.portfolio__tech-tailwind {
  height: 1rem;
}

.portfolio__tech-typescript {
  height: 1.9rem;
}

.portfolio__tech-sass {
  height: 2rem;
}

.portfolio__tech-next-auth {
  height: 2rem;
}

.portfolio__tech-stripe {
  height: 1.6rem;
}

.portfolio__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

.portfolio__github-link,
.portfolio__demo-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  color: var(--color-base);
}

.portfolio__github-icon {
  font-size: 1.6rem;
}

.portfolio__arrow-icon {
  font-size: 1.2rem;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 7rem 0;
  width: 100%;
}

.contact__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.contact__icons {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}

.contact__icon-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  width: 2.8rem;
  padding: 1.4rem;
  background-color: var(--color-quaternary);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact__details {
  text-decoration: none;
}

.contact__details:hover {
  color: var(--color-secondary);
}

.contact__email-icon {
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.contact__phone-icon {
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contactForm {
  width: 30rem;
  min-height: 27.3rem;
}

.contactForm__thank-you-msg {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  padding-top: 2rem;
}

.contactForm__thank-you-msg-heading {
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
}

.contactForm__thank-you-msg-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1.2rem;
  color: var(--color-primary);
}

.contactForm__formular {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contactForm__email-icon {
  width: 7.5rem;
}

.contactForm__heading {
  padding-bottom: 1rem;
}

.contactForm__name,
.contactForm__email,
.contactForm__message {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  width: 100%;
  font-weight: 500;
}

.contactForm__name-input,
.contactForm__email-input,
.contactForm__message-input {
  padding: 0.7rem;
  margin-top: 0.2rem;
  outline-color: var(--color-secondary);
  border: 1.5px solid #e7e7e9;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.contactForm__name-input:hover,
.contactForm__email-input:hover,
.contactForm__message-input:hover {
  box-shadow: 0 0 0 4px rgba(20, 126, 251, 0.1);
}

.contactForm__name-input:focus,
.contactForm__email-input:focus,
.contactForm__message-input:focus {
  box-shadow: 0 0 0 4px rgba(20, 126, 251, 0.1);
}

.contactForm__error-msg {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #dc362e;
  margin-top: 0.2rem;
}

.contactForm__button-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 0.5rem;
  width: fit-content;
}

.contactForm__button {
  max-width: 30rem;
  width: 11rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
}

.contactForm__button:hover {
  background-color: rgba(20, 126, 251, 0.9);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: var(--color-base);
  width: 100%;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__copyright {
  color: var(--color-quaternary);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer__in-icon {
  color: var(--color-quaternary);
  height: 1.4rem;
  transition: 0.1s;
}

.footer__github-icon {
  color: var(--color-quaternary);
  height: 1.5rem;
  transition: 0.1s;
}

.footer__in-icon:hover,
.footer__github-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }

  .header__mobile-menu {
    display: flex;
  }

  .hero {
    height: auto;
  }

  .hero__main {
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
  }

  .hero__skills {
    flex-direction: column;
  }

  .hero__icons {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .hero__skills-text {
    margin-right: 0;
    margin-bottom: 2.5rem;
    padding-right: 0;
    padding-bottom: 0.5rem;
    border-right: none;
    border-bottom: 2px solid var(--color-primary);
  }

  .hero__logos {
    max-width: 28rem;
  }

  .hero__logos-list {
    justify-content: center;
  }

  .about__content {
    max-width: 27rem;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
  }

  .about__text {
    max-width: 35rem;
  }

  .portfolio {
    padding: 6rem 0;
  }

  .portfolio__content {
    align-items: center;
    text-align: center;
  }

  .portfolio__img-container {
    max-width: 32rem;
  }

  .portfolio__project {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 2rem;
  }

  .portfolio__links {
    margin-bottom: 0.5rem;
  }

  .contact {
    padding: 6rem 0;
  }
}

@media (max-width: 768px) {
  .hero,
  .about,
  .portfolio,
  .contact {
    padding: 5rem 0;
  }

  .hero__main {
    margin-top: 2.5rem;
  }

  .hero__img {
    width: 16rem;
    height: 16rem;
  }

  .hero__title {
    font-size: 2.5rem;
    white-space: unset;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__headline {
    text-align: center;
  }

  .contact__title {
    margin-bottom: 2rem;
  }

  .contact__content {
    align-items: center;
  }

  .contact__icons {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contact__icon-box {
    flex-direction: column;
  }

  .contact__info {
    flex-direction: column;
    align-items: center;
  }

  .contactForm {
    width: 20rem;
  }

  .contactForm__thank-you-msg {
    align-items: center;
  }

  .contactForm__thank-you-msg-heading {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 0.8rem;
  }

  .contactForm__thank-you-msg-text {
    text-align: center;
  }

  .contactForm__button-container {
    width: 100%;
  }

  .contactForm__button {
    width: 100%;
  }

  .footer {
    padding: 2rem 0;
  }

  .footer__content {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer__copyright-text {
    white-space: nowrap;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 1.2rem 1.6rem;
  }

  .hero__container,
  .about__container,
  .portfolio__container,
  .contact__container,
  .footer__container {
    padding: 0 1.6rem;
  }

  .portfolio__project {
    padding: 1rem;
  }

  .portfolio__img-container {
    max-height: 19rem;
  }

  .header__mobile-nav-exit {
    top: 1.2rem;
    right: 1.6rem;
  }
}
